#field{
    height : 600px;
    width: 800px;
    background-color: black;
}

.object{
    transform-origin: center center;
    position: relative;
}

.sprite{
    transform-origin: center center;
    position: relative;
}